{% import 'bootstrap/wtf.html' as wtf%}
{% extends 'base.html'%}
<head>
  <link rel="stylesheet" href="../../static/style2.css">
</head>

{% block content %}

<div class="container">
    <div class="row">
    <!-- displaying  Username-->
      <div class="col-md-4">
        <img src="../../static/p_pic.jpg" alt="" width="200px">
        <h3> {{user.username| capitalize}} </h3>
    
        <!--Displaying user bio-->
        {% if user.bio %}
          <p> {{user.bio}}</p>
        {%else%}
          <p> {{user.username| capitalize}} has no bio </p>
        {% endif %}
      </div>
    
      <!--Display profile photo-->

      <div class="col-md-4">
    
        
        
        {% if user == current_user %}
        <a href="{{url_for('main.update_profile',uname=user.username)}}">Edit profile</a>
        {% endif %}
      </div>
      {{wtf.quick_form(form)}}

      <div class="car">
        {%for i in range(1, 10)%}
        <div class="card" >
            <div class="card-body">
                <h2 class="card-title">User Name:{{pitches[i].u_name}}</h2>
                <p class="card-text">Pitch: {{pitches[i]}}</p>
                <p class="card-text">Upvote    Downvote</p>
                {{lenght}}
                
            </div>
        </div>
        
        {% endfor %}
    </div>
    </div>
        

      
    </div>
    </div>
    {% endblock %}